.home-images-top-row {
    margin-top: 20px;
}

.home-image-rows {
    margin-top: 10px;
}

/* https://stackoverflow.com/questions/26421274/css-circular-cropping-of-rectangle-image */
ion-img.home-img-cropper::part(img) {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.home-img-cropper {
    /* width: 100px;
    height: 100px; */
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}