ion-icon[title="Edit"] {
    pointer-events: none;
    padding-top: 10px;
    cursor:pointer;
    text-decoration:underline;
}

ion-icon[title="Delete"] {
    padding-top: 10px;
    cursor:pointer;
    text-decoration:underline;
}

span#edit {
    font-size: x-large;
    cursor:pointer;
    text-decoration:underline;
    line-height: 1;
    margin-right: 20px;
}

.thumbnail-image::part(image) {    
    /* original image ratio height 75% of width */
    /* display image ratio should be height 56% of width */
    height: 224px;
    width: 400px;
    object-fit: cover;
    margin-bottom: 15px;
}

@media (max-width: 450px) {
    .thumbnail-image::part(image) {    
        height: 196px;
        width: 350px;
    }
}

@media (max-width: 425px) {
    .thumbnail-image::part(image) {    
        height: 182px;
        width: 325px;
    }
}

@media (max-width: 400px) {
    .thumbnail-image::part(image) {    
        height: 168px;
        width: 300px;
    }
}

@media (max-width: 360px) {
    .thumbnail-image::part(image) {    
        height: 146px;
        width: 260px;
    }
}



