@media only screen and (min-width: 600px) {
    form ion-item {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 599px) {
    form ion-item {
        margin-bottom: 20px;
    }
}

.submit-form .hide {
    display:none
}

.submit-form .bottom-guide {
    margin-left: 20px;
}

.submit-form .required {
    margin-left: 5px;
}

.submit-form ion-item.ion-invalid.ion-touched{
    border-bottom: 2px solid var(--ion-color-danger) !important;
}
